/* Lezioni dove vuoi tu section */

@media screen and (max-width: 419px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    background-color: #f2f2cd;
    width: 100%;
    padding: 5px 10px;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-block;
    background-color: #f2f2cd;
  }

  .row {
    width: auto;
    margin-top: 5px;
  }

  h1 {
    margin-bottom: 10px;
  }

  img {
    margin-top: 10px;
    width: 120px;
    height: 115px;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 40px;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-block;
  }

  #why.container.grey {
    background-color: #f2f2cd;
  }

  hr {
    border: black solid 1px;
  }
}
